.col-sm-4.col-md-3.proto-content
  -# アクションボタンの追加
  .thumbnail
    = link_to prototype_path(prototype) do
      = image_tag prototype.main_prototype_image
      .caption
        %h3= prototype.title
        .proto-meta
          .proto-user
            = link_to "#{prototype.user.name}", user_path(prototype.user)
          .proto-posted
            = prototype.created_at
        %ul.proto-tag-list.list-inline
          %li
            = link_to "iPad", "#", class: "btn btn-default"
