.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            .media-object
              = image_tag @prototype.user.user_image.url , alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", style: "width: 64px; height: 64px;" if @prototype.user.user_image.present?
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.name}", user_path(@prototype.user)
            %span.degree
              = @prototype.user.member
              = @prototype.user.works
    .col-md-6.text-right#like-button
      = render 'likes/like', prototype: @prototype
  .row
    .col-md-9
      .img-responsive
        = image_tag @prototype.main_prototype_image
    .col-md-3
      %ul.proto-sub-list.list-group
        = render partial: 'prototypes/prototype_sub_image', collection: @prototype.prototype_images.sub, as: :prototype_sub_image
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.text
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (#{@comments.size})
    .col-md-8
      #comment-button
        = render @comments
      = form_for [@prototype, @comment], html: {class: 'form-inline'}, remote: true do |f|
        %h4 Write a comment
        .row
          .form-group.col-md-10
            = f.text_area :content, placeholder: "Your comments", rows: "3"
          .form-group.col-md-2
            = f.submit 'Comment', class: 'btn btn-primary'
