.navbar.navbar-default.navbar-static-top.navbar-fixed-top
  .container
    %button.navbar-toggle{type:'button', 'data-toggle': 'collapse', 'data-target': '.navbar-responsive-collapse'}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, class: 'navbar-brand' do
      = image_tag("logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "36px")
    .navbar-collapse.collapse.navbar-responsive-collapse
      //login
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{'aria-expanded': 'false', 'data-toggle': 'dropdown', class: 'dropdown-toggle', role: 'button'}
              = current_user.name
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li=link_to "My page", user_path(current_user)
              %li=link_to "Profile Edit", edit_user_path(current_user)
              %li=link_to "Logout", destroy_user_session_path, method: :delete
          %li
            .btn.btn-primary.navbar-btn
              = link_to "New Proto", new_prototype_path

      - else
        //not login
        %ul.nav.navbar-nav.navbar-right
          %li
            .btn.btn-primary.navbar-btn
              = link_to "Get Started", new_user_session_path
